﻿@model FizzBuzzApplicationAviva.Models.FizzBuzzModel
@using PagedList.Mvc
@{
    ViewBag.Title = "FizzBuzzSeries";
}

<link href="~/Content/Site.css" rel="stylesheet" />
<link href="~/Content/FizzBuzz.css" rel="stylesheet" />

@Scripts.Render("~/bundles/jquery")
<body>
    @using (@Html.BeginForm("GetSeries", "FizzBuzz", FormMethod.Get))
    {
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    @Html.LabelFor(m => m.InputNumber)
                    @Html.TextBoxFor(m => m.InputNumber)
                    <input class="btn-info btn" type="submit" value="Submit" name="Submitbtn" id="Submitbtn" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-5" style="clear:both">
                    @Html.ValidationMessageFor(m => m.InputNumber)
                </div>
            </div>


            <div class="panel panel-body" style="float:left; clear:both">
                <h3>Series</h3>

                @foreach (var item in Model.FizzBuzzSeries)
                {
                    <div class="@item"> @item</div>
                }

                @Html.PagedListPager(Model.FizzBuzzSeries, page => Url.Action("GetSeries", new { page = page, InputNumber = Model.InputNumber }), PagedListRenderOptions.Minimal)               
            </div>
        </div>
    }
</body>
